{% assign issues_index = site.articles | where: 'relative_path', '_articles/index.md' | first -%}

<nav class="navbar navbar-expand sticky-top">
  <a class="navbar-brand" rel="author" href="{{ '/' | relative_url }}">
    <img src="/img/logo-white-black-horizontal.png" style="width: 3em;">
  </a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a href="{{ '/' | relative_url }}期刊/" class="dark-link nav-link dropdown-toggle" id="issues-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        期刊
      </a>
      <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="issues-toggle">
        {% for issue_name in issues_index.issues -%}
          <a href="{{ '/' | relative_url }}期刊/{{ issue_name }}/" class="dark-link dropdown-item bg-dark">{{ issue_name }}</a>
        {%- endfor %}
      </div>
    </li>

    <li class="nav-item">
      <a class="dark-link nav-link" href="{{ '/关于' | relative_url }}">关于</a>
    </li>
  </ul>
</nav>
