<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% assign separator = ' - ' -%}
    {% capture title -%}
      {%- if page.url == '/' -%}
        {{ site.title }}{{ separator }}{{ site.tagline }}
      {%- elsif page.collection == 'articles' -%}
        {%- assign paths = page.relative_path | split: '/' -%}
        {%- if paths.size == 2 -%}
          期刊{{ separator }}{{ site.title }}
        {%- elsif paths.size == 3 -%}
          {{ paths[1] }}{{ separator }}{{ site.title }}
        {%- elsif paths.size == 4 -%}
          {{ paths[2] }}{{ separator }}{{ paths[1] }}{{ separator }}{{ site.title }}
        {%- elsif paths.size == 5 -%}
          {%- if page.author -%}
            《{{ page.title }}》{{ page.author }}{{ separator }}{{ paths[1] }}{{ separator }}{{ site.title }}
          {%- else -%}
            《{{ page.title }}》{{ separator }}{{ paths[1] }}{{ separator }}{{ site.title }}
          {%- endif -%}
        {%- endif -%}
      {%- else -%}
        {{ page.title }}{{ separator }}{{ site.title }}
      {%- endif -%}
    {%- endcapture -%}
    <title>{{ title | strip_html | xml_escape }}</title>

    <meta name="author" content="{{ page.author | default: site.author | xml_escape }}">
    <meta name="description" content="{{ page.description | default: page.subtitle.first | default: page.excerpt | default: content | strip_html | strip_newlines | replace: ' ', '' | strip | xml_escape | truncate: 80 }}">

    <link rel="stylesheet" href="{{ '/vendors/bootstrap/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
  </head>

  <body data-spy="scroll" data-target="#contents" data-offset="100">

    {% include header.html %}

    {{ content }}

    <script src="{{ '/vendors/jquery/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/vendors/bootstrap/bootstrap.bundle.min.js' | relative_url }}"></script>
  </body>
</html>
